.mapFooter {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* TODO : mobile first */
@media screen and (max-width: 38em) {
	.mapFooter {
		padding: .3rem;
	}
}