.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    display: flex;
    border-bottom: .1rem solid gray;
}

.section {
    flex-grow: 1;
    border-right: .1rem solid gray;
    position: relative;
}

.mapTitle {
    position: absolute;
    top: 0;
    margin-top: .3rem;
    font-size: 1rem;
    font-style: italic;
    display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.section label, .section input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
}

.section > svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 1.6rem);
}

.section > svg [data-id] {
	fill: white;
	stroke: black;
	stroke-width: 1;
    cursor: pointer;
}

.section > svg [data-id].selected {
    cursor: default;
    fill: black;
}

.section > svg [data-id].disabled {
    cursor: default;
    fill: gray;
}

.section > svg [data-id].disabled.highlight {
    fill: lightsalmon;
}

.aside {
    flex-basis: 18rem;
    position: relative;
}

.footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
