.link {
	position: absolute;
	left: .4rem;
	bottom: .1rem;
	font-style: italic;
	color: black;
	z-index: 1;
}

.external {
	background-position: bottom .1rem right;
	background-repeat: no-repeat;
	background-image: url(../../../res/externalLinkIcon.svg);
	background-size: .9rem;
	padding-right: 1rem;
}