.mapTitle {
    position: absolute;
	top: .3rem;
	left: 1rem;
	right: 1rem;
    margin: 0;
    font-size: 1rem;
    font-style: italic;
    display: flex;
	align-items: center;
	justify-content: center;
}

.hidden {
	visibility: hidden;
}