.resetButton {
	border: none;
    text-decoration: none;
    padding: .2rem;
    margin: 0;
    margin-left: .7rem;
    cursor: pointer;
    background-color: white;
	color: black;
	transition: transform .2s ease-in-out;
	text-align: center;
	line-height: .8rem;
}

.resetButton.animate {
	animation: blink 2s infinite;
}

.image {
	height: .8rem;
}

@keyframes blink { 
    0% {
		transform: scale(1); 
    }
    50% {
		transform: scale(1.2);
    }
}
