.resetButton {
    border: .1rem solid black;
    text-decoration: none;
    padding: 0 .2rem;
    margin: 0;
    margin-left: .7rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    color: black;
}

.resetButton.blink {
    animation: blink 2s step-end infinite;
}

@keyframes blink { 
    0% { 
        background-color: white;
        color: black;
    }
    50% {
        background-color: black;
        color: white;
    }
}
