.container {
    margin: 0;
    padding: 0;
}
  
.item {
    box-sizing: border-box;
    display: inline-block;
    width: calc(50% - .4rem);
    margin: .2rem;
    border: .1rem solid black;
    border-radius: 1rem;
}
