html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

html * {
  font-family: 'Raleway', sans-serif;
}

body {
  padding-top: 2rem;
}

.container-full-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-large {
  font-size: 1.7rem;
}
