html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 2rem;
}

.container-full-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-large {
  font-size: 1.7rem;
}

/* Map Game */

.map-game-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  border-bottom: .1rem solid gray;
}

main > section {
  flex-grow: 1;
  border-right: .1rem solid gray;
  position: relative;
}

main > section > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main > aside {
  flex-basis: 18rem;
  position: relative;
}

.choices-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.choices-container > div {
  position: relative;
}

.choices-container input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 100%;
}

.choices-container label {
  display: block;
  border: .1rem solid black;
  text-align: center;
  padding: .2rem;
  border-radius: .6rem;
  cursor: pointer;
  margin: .5rem .3rem;
  user-select: none;
}

.choices-container input:checked ~ label {
  background-color: black;
  color: white;
}

.choices-container input:disabled ~ label {
  background-color: gray;
  color: white;
  cursor: default;
}

.choices-container input:focus ~ label {
  outline: .1rem dotted black;
  outline-offset: .1rem;
}

footer {
  padding: 1rem;
  text-align: center;
}

footer button {
  cursor: pointer;
}

footer button:disabled {
  cursor: default;
}

svg [data-id] {
	fill: white;
	stroke: black;
	stroke-width: 1;
  cursor: pointer;
}

svg [data-id].selected {
  cursor: default;
  fill: black;
}

svg [data-id].disabled {
  cursor: default;
  fill: gray;
}
